body{
    margin:0;
    font-family: arial;
}

#login{
    width:5000px;
    margin:20px auto 0;
    overflow: hidden;
}

#logo p{
    display:flex;
    float: left;
    font-size: 25px;
    color: rgb(46, 69, 218);
}

#dino{
    align-content: center;
}
#logo img{
    float: left;
    margin-right: 10px;
    width:80px;

}

#play{
    display: flex;
    justify-content: space-between;
}
    @media screen and (max-width: 300px) {
        
    }

    #Pet{
        text-align:center;
        width: 1000px;
        height: 500px;
        margin-left: auto;
        margin-right:auto;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 20px;
    }

    
    #Pet p{
        color:rgb(118, 127, 229);
        font-size: 70px;
        text-shadow: 1px 1px 1px black;
        text-align: center;
    }

    #Play button{
        display:block;
        margin-left:auto;
        margin-right:auto;
        background-color: rgb(15, 199, 255);
        border:1px solid white;
        text-align: center;
        font-size: 15px;
        width:150px;
        height:40px;
        border-radius: 10px;
        color:white;
        font-style: bold;
    }

    #Pet button:hover{
        color: blue;
    }

    form>input{
        margin-left:auto;
        margin-right:auto;
        margin-top:20px;
        margin-bottom: 20px;
        display:block;
        text-align: center;
        width:500px;
        font-size: 30px;
        padding: 40px;
    }


    .button-container {
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;
      }
      
      .prev-button {
        position:fixed;
        border-radius: 30px;
        left: 24%;
        top: 21%;
        transform: translateY(-50%);
        font-size: 24px;
        padding: 12px 24px;
        color: indianred;
      }

      .next-button {
        position:fixed;
        border-radius: 50px;
        right: 25%;
        top: 20%;
        transform: translateY(-50%);
        font-size: 24px;
        padding: 12px 24px;
        color: indianred;
      }
      

      